<div class="faq-section faq_mobile-section">
  <div class="faq-container section-{{ section.id }}-padding">
    <div class="faq_section-list">
      <div class="faq_section-left">
        <div class="tab_1"> {% if section.settings.question_type1 != blank %} <h3 class="tablinks details is--active " data-tab="Tab-{{ section.id }}-7">
            <span class="questions">{{ section.settings.question_type1 }}</span>
          <p>{% render 'down-arrow-1' %}</p>
          </h3> {% endif %} <details class="faq-tab__details">
             
            <summary class="faq-tab__summary">
                <span class="down_arrow">{{ section.settings.question_type1 }}</span>
                <p>{% render 'down_arrow' %}</p>
              </summary>
              <div class="product-tab__content">
                {{ product.description }}
              </div>
            </details> 
        </div> {% if section.settings.question_type2 != blank %} <h3 class="tablinks details" data-tab="Tab-{{ section.id }}-8">
          <span class="questions">{{ section.settings.question_type2 }}</span>
          <p>{% render 'down-arrow-1' %}</p>
        </h3> {% endif %} <div id="Tab-{{ section.id }}-8" class="tab-content details question2" data-tab="Tab-{{ section.id }}-8">  {% assign index = forloop.index %}  {% if forloop.index == index %} <details class="faq-tab__details">
            <summary class="faq-tab__summary">
              <span> {{ section.settings.question_type2 }}</span>
              <p>{% render 'down_arrow' %}</p>
            </summary>
            <div class="product-tab__content">
              {{  product.metafields.custom.product_specific  }}
            </div>
          </details> {% endif %} </div> {% if section.settings.question_type3 != blank %} <h3 class="tablinks details" data-tab="Tab-{{ section.id }}-9">
          <span class="questions"> {{ section.settings.question_type3 }} </span>
            <p>{% render 'down-arrow-1' %}</p>
        </h3> {% endif %} <div id="Tab-{{ section.id }}-9" class="tab-content details question3" data-tab="Tab-{{ section.id }}-9"> {% for question in page.metafields.custom.faq_question3.value %} {% assign index = forloop.index %} {% for answer in page.metafields.custom.faq_answers3.value %} {% if forloop.index == index %} <details class="faq-tab__details">
            <summary class="faq-tab__summary">
              <span>{{ question }}</span>
              <p>{% render 'down_arrow' %}</p>
            </summary>
            <div class="product-tab__content">
              {{ answer }}
            </div>
          </details> {% endif %} {% endfor %} {% endfor %} </div> {% if section.settings.question_type4 != blank %} <h3 class="tablinks details" data-tab="Tab-{{ section.id }}-10">
          <span class="questions"> {{ section.settings.question_type4 }} </span>
            <p>{% render 'down-arrow-1' %}</p>
        </h3> {% endif %} <div id="Tab-{{ section.id }}-10" class="tab-content details question4" data-tab="Tab-{{ section.id }}-10"> {% for question in page.metafields.custom.faq_question4.value %} {% assign index = forloop.index %} {% for answer in page.metafields.custom.faq_answers4.value %} {% if forloop.index == index %} <details class="faq-tab__details">
            <summary class="faq-tab__summary">
              <span>{{ question }}</span>
              <p>{% render 'down_arrow' %}</p>
            </summary>
            <div class="product-tab__content">
              {{ answer }}
            </div>
          </details> {% endif %} {% endfor %} {% endfor %} </div> {% if section.settings.question_type5 != blank %} <h3 class="tablinks details" data-tab="Tab-{{ section.id }}-11">
          <span class="questions"> {{ section.settings.question_type5 }} </span>
            <p>{% render 'down-arrow-1' %}</p>
        </h3> {% endif %} <div id="Tab-{{ section.id }}-11" class="tab-content details question5" data-tab="Tab-{{ section.id }}-11"> {% for question in page.metafields.custom.faq_question5.value %} {% assign index = forloop.index %} {% for answer in page.metafields.custom.faq_answers5.value %} {% if forloop.index == index %} <details class="faq-tab__details">
            <summary class="faq-tab__summary">
              <span>{{ question }}</span>
              <p>{% render 'down_arrow' %}</p>
            </summary>
            <div class="product-tab__content">
              {{ answer }}
            </div>
          </details> {% endif %} {% endfor %} {% endfor %} </div> {% if section.settings.question_type6 != blank %} <h3 class="tablinks details" data-tab="Tab-{{ section.id }}-12">
          <span class="questions"> {{ section.settings.question_type6 }} </span>
            <p>{% render 'down-arrow-1' %}</p>
        </h3> {% endif %} <div id="Tab-{{ section.id }}-12" class="tab-content details question6" data-tab="Tab-{{ section.id }}-12"> {% for question in page.metafields.custom.faq_question6.value %} {% assign index = forloop.index %} {% for answer in page.metafields.custom.faq_answers6.value %} {% if forloop.index == index %} <details class="faq-tab__details">
            <summary class="faq-tab__summary">
              <span>{{ question }}</span>
              <p>{% render 'down_arrow' %}</p>
            </summary>
            <div class="product-tab__content">
              {{ answer }}
            </div>
          </details> 
          {% endif %} 
         {% endfor %}
        {% endfor %} 
        </div>
      </div>
    </div>
  </div>
</div>